.global-loader.app-global-loader-cstm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: not-allowed;
  
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    pointer-events: all;
  }
  
  .global-loader.app-global-loader-cstm.visible {
    opacity: 1;
  }
  
  .app-global-loader-cstm .spinner {
    width: 120px;
    height: 120px;
    border: 6px solid #ddd;
    border-top: 6px solid #c7822d;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  .global-loader.app-global-loader-cstm.visible img.loader-logo {
    width: 100px;
    border-radius: 50px;
    mix-blend-mode: multiply !important;
    height: 100px;
    object-fit: cover;
    border: 3px solid #070028;
    position: absolute;
}
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  