.upcomingEvent{
  background: url(../../../Assets/Images/home/event-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
}

.upcomingEvent h2{
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.ue-listing {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin: 40px 0 0;
}
.ue-card-item {
    width: 32%;
}

.ue-card-item img {
    width: 100%;
    border-radius: 15px;
}

@media (max-width:1024px){
    .ue-card-item {
    width: 31%;
}
   
}

@media (max-width: 900px) {
    .ue-card-item {
        width: 48%;
    }
}

@media (max-width: 767px) {
    .ue-card-item {
        width: 100%;
    }
}