.cart-page{
    max-width: 1440px;
    margin: auto;
    padding-top: 38px;
    padding-bottom: 100px;
    padding: 40px 20px 40px 20px;
}

.cart-table table {
  width: 100%;
}

.cart-table table thead tr th {
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  text-transform: uppercase;
  color: #884b00;
  font-family: "Antonio", sans-serif;
  padding-bottom: 20px;
}

.cart-table table tbody tr td {
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  padding: 38px 10px;
  color: #000000;
}

.cart-table table tbody tr td .product-desc-table table tr td {
  padding: 10px 0px;
  font-weight: 500;
  border: 0px !important;
}

.cart-table table .pdt-name-first {
    vertical-align: baseline;
}

.cart-table table tbody tr td .product-desc-table table tr:first-child td {
    padding-top: 0px;
}


tr.border-1 {
    border-left: 0;
    border-right: 0;
    border-color: #919191 !important;
}

td.cart-total-cstm {
    font-family: Antonio !important;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    text-transform: uppercase;
    color: #884B00 !important;
}

td.cart-total-cstm {
    font-family: Antonio !important;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    text-transform: uppercase;
    color: #884B00;
}

tr.cart-total-row td {
    padding-top: 17px !important;
}

tr.cart-total-row td {
    font-weight: 800 !important;
    color: #000000;
}
td.weight-800 {
    font-weight: 800 !important;
}

span.delete-item:hover {cursor: pointer;display: block;}

span.delete-item:hover svg {
    filter: brightness(0) saturate(100%) invert(18%) sepia(54%) saturate(7257%) hue-rotate(49deg) brightness(100%) contrast(101%);
}

.proceed-checkout-btn.btn {
    padding: 0;
    width: 100%;
    margin: 80px 0px;
}

.proceed-checkout-btn.btn button {
    width: 100%;
    border: 1px solid #552D00 !important;
    box-shadow: 0px 0px 12px 0px #FFFFFF66;
    background: #F68E1B;
    padding: 16px;
    border-radius: 15px;
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
}

.proceed-checkout-btn.btn button:hover {
    background: #C7822D;
}

.location-desc-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart-page.weekly-schedule table tr td {
    padding-left: 0px;
}