
.home-container{
    display:flex;
    flex-direction: column;
    gap: 50px;
}
.banner-section {
    background-size: cover;
    background-repeat: no-repeat;
    height: 1018px;
    background-position: center center;
    position: relative;
}
.banner-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.banner-content h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: "Antonio", sans-serif;
    color: #0C0C0C;
    text-shadow: 2px 2px 0px #FFA83E;
}
h1 {
    font-size: 96px;
    font-weight: 700;
    font-family: "Antonio", sans-serif;
    color: #0C0C0C;
    text-shadow: 2px 2px 0px #FFA83E;
    margin: 0 0 20px;
}

span.banner-intro {
    background-image: url(../../Assets/Images/pattern.png);
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 64px;
    font-weight: 700;
    font-family: "Antonio", sans-serif;
    color: #fff;
    text-shadow: 2px 2px 0px #422300;
    padding: 0 250px;
    background-position: top 13px center;
    margin-bottom: 63px;
    display: inline-block;
}
.custom-btn a {
    background: #E57800;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 22px 70px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 500;
}

@media (max-width:1024px){
    .banner-section{
        height: 528px;
    }
    .banner-content h2{
        font-size: 30px;
    }
    h1{
        font-size: 66px;
    }
    span.banner-intro {
        font-size: 44px;
        padding: 0 130px;
    }
    .custom-btn a{
        padding: 20px 40px;
    }
}

@media (max-width:900px){
        .banner-section {
        height: 408px;
    }
}

@media (max-width: 767px) {
    span.banner-intro {
        font-size: 34px;
        padding: 0 80px;
    }
}