.gallery-section {
  padding: 60px 0;
  text-align: center;
  background: url(../../../Assets/Images/home/gallery-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-title {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

.gallery-sub {
  margin-top: 5px;
  margin-bottom: 40px;
  color: #fff;
  font-size: 16px;
}
/* Masonry Layout */
.masonry {
  column-count: 3;
  column-gap: 25px;
  padding: 0 40px;
}

.masonry-item {
  margin-bottom: 25px;
  break-inside: avoid;
  cursor: pointer;
}

.masonry-item img {
  width: 100%;
  border-radius: 18px;
  display: block;
  transition: transform 0.3s;
}

.masonry-item img:hover {
  transform: scale(1.03);
}

/* Popup */
.popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  position: relative;
}

.popup-content img {
  max-width: 90vw;
  max-height: 85vh;
  border-radius: 12px;
}

.popup-close {
  position: absolute;
  top: -12px;
  right: -12px;
  background: #ff9a2a;
  padding: 8px 14px;
  font-size: 22px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

@media (max-width:900px){
    .masonry {
        column-count: 3;
        column-gap: 25px;
        padding: 0;
    }
}
@media (max-width: 767px) {
    .masonry {
        column-count: 1;
        column-gap: 25px;
        padding: 0;
    }
}