h2{
      font-size: 40px;
    font-weight: 700;
    font-family: "Antonio", sans-serif;
    color: #FFA83E;
    text-shadow: 2px 2px 0px #1C1C1C;
}
.home-mission-container {
background:url(../../../Assets/Images/home/mission-bg.webp) #FFF7EE;
  padding: 40px 20px 70px;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.home-mission-card {
    max-width: 1059px;
    margin: auto;
}
.title {
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 40px;
}
.home-mission-right {
    position: relative;
}
.video-container video.w-full {
    width: 100%;
    border-radius: 10px;
}
.video-controls {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
.video-controls button {
    border: none;
    background: none;
    cursor: pointer;
}

@media (max-width:1024px){
    .home-mission-right {
        position: relative;
        padding: 0;
    }

   
}