.footer-section {
    background-color: #1C1C1C;
    padding: 20px;
    
}
.footer-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    
   
}

.quick-link-heading {
    font-family: 'Inter', sans-serif;
    font-weight: 600; /* Semi Bold */
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #F58E1E;
    margin-top: 40px;
}

.quick-links-sub{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #FFFFFF;
    text-decoration: none;
}
.quick-links-sub:hover {

    color: #F58E1E;
    cursor: pointer;

}

.footer-container-main {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 15px;
    padding: 40px 0px;
    flex-wrap: wrap;
}

.footer-1{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 60px;
}
.footer-1-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-1-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-1 p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #ffff;
}
.footer-1 img {
    width: 132px;
    height: 92px;
}

.footer-2{
    width: 16%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-3{
    width: 12%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.footer-4{
    width: 18.33%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-5{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-2-body, .footer-3-body, .footer-4-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-section-copyright{
    background-color: #F58E1E !important;
    padding: 0px 20px;
   
}

.footer-container-copyright {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.footer-container-copyright p {
  font-family: 'Inter', sans-serif;
  font-weight: 600;        /* Semi Bold */
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
}

.contact-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
}

.footer-5-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}


.social-links{
    font-size: 24px;
    color: #080707;
    text-decoration: none;
    background-color: #FFFFFF;
    padding: 8px;
    border-radius: 6px;
}

.social-links:hover{
    color: #080707;
    background-color: #F58E1E;
    cursor: pointer;
}

@media only screen and (min-width: 768px) and (max-width: 1025px){
    .footer-1{
        width: 22%;
    }

    .footer-2, .footer-3, .footer-4, .footer-5{
        width: 15%;
    }

    .footer-5{
        width: 15%;
    }

}

@media only screen and (min-width: 430px) and (max-width: 769px){
    .footer-1{
        width: 100%;
    }

    .footer-2, .footer-3, .footer-4, .footer-5{
        width: 23%;
    }
}


@media only screen and (min-width: 299px) and (max-width: 429px){
    .footer-1, .footer-2, .footer-3, .footer-4, .footer-5{
        width: 100%;
    }

    .footer-container-copyright p {
        text-align: center;
    }
    .footer-container-copyright p {
        font-size: 10px;
        line-height: 15px;
    }

    
}