@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;300;400;500;600;700&display=swap');

.name-row {
    display: flex;
    gap: 15px;
    width: 100%;
}

.name-field {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.auth-input {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: Antonio, sans-serif;
}

select.auth-input {
    background: #fff;
    appearance: none;
    cursor: pointer;
}




.auth-wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    font-size: 14px;
    font-family: Antonio, sans-serif;
}
.card-box label{
    font-size: 14px;
      font-family: Antonio, sans-serif;
      font-weight: 700;
}
.card-box input{
    padding: 10px 20px !important;
    border-radius: 15px !important;
    background-color: #FBFBFB !important;
    border: 1px solid #D9D9D9 !important;
}
.card-box{
   box-shadow: 0px 0px 16px 2px #FFC68040;
border-radius: 30px;
padding: 40px;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Left Form Card */
.auth-card {
    width: 50%;
    padding: 40px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 25px;
    font-weight: 700;
    color: #ff8a00;
}

.auth-form {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth-form input {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: 'Antonio', sans-serif;

}

.auth-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-remember {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Antonio', sans-serif;

}

.auth-forgot {
    font-family: 'Antonio', sans-serif;

    font-size: 13px;
    cursor: pointer;
    color: #c36a02;
}

.auth-login-btn {
    width: 100%;
    padding: 10px;
    margin-top: 1rem;
    background: #f7931a;
    border: 1px solid black !important;
    color: #fff;
    font-size: 17px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Antonio', sans-serif;

}

.auth-divider {
    width: 100%;
    max-width: 420px;
    margin: 25px auto;
    border: none;
    border-top: 1px solid #ddd;
}

.auth-note {
    font-size: 14px;
    text-align: center;
    margin-bottom: 12px;
    font-family: 'Antonio', sans-serif;

}

.auth-create-btn {
    font-family: 'Antonio', sans-serif;

    width: 100%;
    max-width: 420px;
    padding: 12px;
     border-radius: 20px;
    border: 2px solid #000;
    font-size: 16px;
    background: transparent;
    cursor: pointer;
    font-weight: 600;
}

/* RIGHT IMAGE */
.auth-side-image {
    width: 50%;
    background-image: url("/src/Assets/Images/loginBg.png");
    background-size: cover;
    background-position: center;
}

/* ===================== RESPONSIVE ===================== */
@media (max-width: 992px) {
    .auth-wrapper {
        flex-direction: column;
    }

    .auth-card {
        width: 100%;
        padding: 30px;
        height: auto;
    }

    .auth-side-image {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 600px) {
    .auth-side-image {display: none;}
    .auth-card {
        padding: 25px;
    }

    .auth-title {
        font-size: 26px;
    }

    .auth-login-btn,
    .auth-create-btn {
        font-size: 15px;
    }

    .auth-side-image {
        height: 220px;
    }
}
